useDynLib(Rhcpp)
importFrom(Rcpp, evalCpp)
importFrom(BiocParallel, bplapply, bpworkers)
importFrom(ellipse, ellipse)
export("hcp", "hcpcv", "hcpp", "hcppcv")
export("rnormmix", "dnormmix", "plotnormmix")
export("gibbssampler", "plotTraces", "plotCI")

